{% extends "bootstrap/base.html" %} {% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
<div class="container d-flex align-items-center">
  <h1 class="text-bg-warning">Magslator</h1>
  <form
    action="/upload"
    method="post"
    enctype="multipart/form-data"
    class="d-flex-column align-items-center"
  >
    <input type="file" name="file" multiple accept=".jpg, .jpeg, .png, .gif" />
    <input type="submit" value="Subir Imágenes" />
  </form>
  <div id="image-preview">
    {% for path in uploaded_files %}
    <a>{{ path }}</a>
    <img src="{{path}}" alt="{{ path }}" />
    {% endfor %}
  </div>
  <div>
    <!-- <li>{{files}}</li> -->
    <a href="/gallery" class="btn btn-info">Galerías</a>
  </div>
</div>

{% endblock %}
